[user]
	name = criss11-crypt
	email = cristofermachado05@gmail.com
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[safe]
	directory = C:/Users/criss11
